.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 150px;
}

.header {
    font-family: var(--font-inter);
    font-weight: 200;
    font-size: 24px;
    color: #D00000;
    align-self: center;
}


@media screen and (max-width: 500px) {

    .services {
        padding-top: 60px;
    }

    .header {
        font-size: 14px;
    }
}