:root {
  --foreground: #171717;
  --color-white: #ffffff;
  --max-width: 1728px;
  --max-height: 1217px;
  /*--font-my-custom: 'MyCustomFont';*/
  /*--font-inter: 'Inter';*/

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  font-family: var(--font-inter), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


