.slide {
    margin: 0 auto;
    /*max-width: var(--max-width);*/
    max-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.24); /* Полупрозрачный черный цвет */
    z-index: 1;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

}

.slideInfo {
    margin-top: auto;
    padding: 10px;
    padding-left: 40px;
    opacity: 0.7;
    max-width: 45%;
    position: relative; /* Добавлено */
    z-index: 2; /* Убедитесь, что это выше, чем у слоя затемнения */
}

.swiper-button-next {
    color: white;
}

.procedure {
    font-size: 42px;
    font-weight: 100;
    z-index: 10;
}

.title {
    font-size: 80px;
    font-weight: 200;
    z-index: 10;
}

.master {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 100;
    opacity: .5;
    z-index: 10;
}

.carouselWrapper {
    position: relative;
}

.galleryOverlay {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 24px;
    color: white;
    font-family: var(--font-inter);
    font-weight: 100;
}

.customNextBtn {
    position: absolute;
    right: 40px;
    bottom: 95px;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    width: 75px;
    height: 75px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
}

.customNextBtn:hover {
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1180px) {
    .slide2{
        background-position: 86%;
    }

    .slide3{
        background-position: 92%;
    }

    .slider5{
        background-position: 65%;
    }
}




@media (max-width: 700px) {
    .title{
        font-size: 50px;
    }
}


@media (max-width: 500px) {
    .title{
        font-size: 25px;
    }
}

