.accordion {
    border-bottom: 1px #242424 solid;
    padding-bottom: 50px;
    padding-top: 50px;
}

.mobileOnly {
    display: none;
}

.header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Применяем hover-эффекты только на устройствах, поддерживающих hover */
@media (hover: hover) {
    .header:hover .title {
        font-family: var(--font-great-vibes);
        font-size: 120px;
        color: #D00000;
        font-weight: 400;
        transition-delay: 0.1s;
    }

    .header:hover .icon:empty::before {
        content: '+';
        display: inline-block;
        font-size: 90px;
        line-height: 1;
        transition-delay: 0.15s;
    }
}

.title {
    font-family: var(--font-inter);
    font-size: 80px;
    font-weight: 250;
    line-height: 50px;
    transition: font-family 0.3s ease, font-size 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}

.titleOpened {
    font-family: var(--font-great-vibes);
    font-size: 120px;
    color: #D00000;
    font-weight: 400;
}

.icon {
    color: #D00000;
    font-size: 50px;
    font-weight: 100;
}

.content {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    transition: max-height 0.3s ease, padding-top 0.3s ease;
}

@media (max-width: 1430px) {
    .title {
        font-size: 60px;
    }

    .titleOpened {
        font-size: 90px;
    }

    .icon {
        font-size: 35px;
    }

    /* Также ограничиваем hover-эффекты для десктопа с меньшим экраном */
    @media (hover: hover) {
        .header:hover .title {
            font-size: 90px;
        }
    }
}

@media (max-width: 833px) {
    .accordion {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .title {
        font-size: 30px;
    }

    .titleOpened {
        font-size: 46px;
    }

    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }
}