.accordion {
    border-bottom: 1px #242424 solid;
    padding-bottom: 50px;
    padding-top: 50px;
}

.mobileOnly {
    display: none;
}

.header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: var(--font-inter);
    font-size: 80px;
    font-weight: 100;
    line-height: 50px;
}

.titleOpened {
    font-family: var(--font-great-vibes);
    font-size: 120px;
    color: #D00000;
    font-weight: 400;
}

.icon {
    color: #D00000;
    font-size: 50px;
    font-weight: 100;
}


.content {
    max-height: 0;
    overflow: hidden;
    /*padding-top: 30px;*/
}

.contentOpened {
    max-height: 0;
    overflow: hidden;
    padding-top: 30px;
}

@media (max-width: 1430px) {
    .title {
        font-size: 60px;
    }

    .titleOpened {
        font-size: 90px;
    }

    .icon {
        font-size: 35px;
    }
}

@media (max-width: 833px) {
    .accordion {
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .title {
        font-size: 30px;
    }

    .titleOpened {
        font-size: 46px;
    }

    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }
}